<h1>Recetas</h1>

<h2>Comidas</h2>

<section>
  <app-recipe-preview
    easy
    [name]="'Macarrones'"
    [timeToCook]="'25 min'"
    [link]="'macarrones'"
    [sourceImage]="'url(/assets/macarrones/image.png)'"
  ></app-recipe-preview>
</section>

<h2>Cenas</h2>

<h2>Postres</h2>

<section>
  <app-recipe-preview
    medium
    [name]="'Mouse de chocolate'"
    [timeToCook]="'30 min'"
    [link]="'mouse-de-chocolate'"
    [sourceImage]="'url(/assets/mouse-de-chocolate/image.png)'"
  ></app-recipe-preview>
</section>
