<h1>Choricillos</h1>

<ul class="step-list">
  <li class="step-element">
    <div class="card">
      <img src="/assets/choricillos/images/step-1.svg" alt="" />
      <span class="long-text--180">
        Coloca los choricillos en la sartén. Enciende la vitrocerámica al nivel boost. Pon el temporizador a
        <strong class="jei-no-break">6 minutos</strong>. Cuando el aceite esté caliente, baja el <strong>nivel al 7</strong>. A los tres minutos, da
        la vuelta a los choricillos.
      </span>
    </div>
  </li>
</ul>
