<h1>Sandwitch</h1>

<ul>
  <li>Precalienta el <strong>horno a 190ºC</strong> arriba y abajo.</li>

  <li>Pon papel vegetal en la bandeja del horno.</li>

  <li>Coge <strong>4 rebanadas de pan bimbo</strong>.</li>

  <li>
    <strong>Unta de mantequilla</strong> con un cuchillo plano una cara de dos rebanas, y ponlas con la mantequilla hacia abajo en la bandeja del
    horno.
  </li>

  <li>
    Pon encima de ambas rebanadas una loncha de <strong>jamón york</strong>, un <strong>tranchete de queso</strong> y otra loncha de
    <strong>jamón york</strong>.
  </li>

  <li>
    <strong>Unta de mantequilla</strong> igualmente las otras dos rebanadas, y ponlas con la mantequilla hacia arriba encima para terminar los
    sandwitches.
  </li>

  <li>Mete la bandeja en el horno <strong>12 minutos</strong>.</li>

  <li>Acabado el tiempo, servir de la bandeja a un plato.</li>
</ul>
