<h1>Macarrones</h1>

<ul>
  <li>Coge la báscula y un bol. Pesa <strong>60 gramos</strong> de pasta tiburón.</li>

  <li>En el mismo bol, echa también un poquito de sal.</li>

  <li>Coge una olla y ponle <strong>565 ml</strong> de agua (unos tres vasos).</li>

  <li>Pon el agua de la olla a <strong>cocer</strong> con el <strong>boost</strong>.</li>

  <li>Cuando el agua empieza a cocer, <strong>verter la pasta</strong> y poner la tapa.</li>

  <li>Baja la vitrocerámica al <strong>6</strong> y pon el temporizador <strong>12 minutos.</strong></li>

  <li>Cuando termina el tiempo de cocer, volcar la pasta en el <strong>escurridor</strong>.</li>

  <li>Echalo en el plato y añade atún y tomate frito.</li>
</ul>
