<h1>Macarrones</h1>

<h2>Pasos a seguir</h2>

<ul>
  <li #el1 (click)="el1.classList.toggle('completed')">Coge la báscula y un bol. Pesa <strong>60 gramos</strong> de pasta tiburón.</li>

  <li #el2 (click)="el2.classList.toggle('completed')">En el mismo bol, echa también un poquito de sal.</li>

  <li #el3 (click)="el3.classList.toggle('completed')">Coge una olla y ponle <strong>565 ml</strong> de agua (unos tres vasos).</li>

  <li #el4 (click)="el4.classList.toggle('completed')">Pon el agua de la olla a <strong>cocer</strong> con el <strong>boost</strong>.</li>

  <li #el5 (click)="el5.classList.toggle('completed')">Cuando el agua empieza a cocer, <strong>verter la pasta</strong> y poner la tapa.</li>

  <li #el6 (click)="el6.classList.toggle('completed')">
    Baja la vitrocerámica al <strong>6</strong> y pon el temporizador <strong>12 minutos.</strong>
  </li>

  <li #el7 (click)="el7.classList.toggle('completed')">Cuando termina el tiempo de cocer, volcar la pasta en el <strong>escurridor</strong>.</li>

  <li>Echalo en el plato y añade atún y tomate frito.</li>
</ul>
