<h1>Macarrones</h1>

<h2>Pasos a seguir</h2>

<ul>
  <li (click)="toggleElement($event)">Coge la báscula y un bol. Pesa <strong>60 gramos</strong> de pasta tiburón.</li>

  <li (click)="toggleElement($event)">En el mismo bol, echa también un poquito de sal.</li>

  <li (click)="toggleElement($event)">Coge una olla y ponle <strong>565 ml</strong> de agua (unos tres vasos).</li>

  <li (click)="toggleElement($event)">Pon el agua de la olla a <strong>cocer</strong> con el <strong>boost</strong>.</li>

  <li (click)="toggleElement($event)">Cuando el agua empieza a cocer, <strong>verter la pasta</strong> y poner la tapa.</li>

  <li (click)="toggleElement($event)">
    Baja la vitrocerámica al <strong>6</strong> y pon el temporizador <strong>12 minutos.</strong>
  </li>

  <li (click)="toggleElement($event)">Cuando termina el tiempo de cocer, volcar la pasta en el <strong>escurridor</strong>.</li>

  <li (click)="toggleElement($event)">Echalo en el plato y añade atún y tomate frito.</li>
</ul>
