<h1>Sopa maravilla</h1>

<ul class="step-list">
  <li class="step-element">
    <div class="card">
      <!-- TODO review assets in angular.json (for all steps and recipes, try to use svg icons generator) -->
      <img src="/assets/sopa-maravilla/images/step-1.svg" alt="" />
      <span>
        Agarra la báscula y un bol. Pesa <strong class="jei-no-break">35 g</strong> de <strong class="jei-no-break">sopa maravilla</strong>.
      </span>
    </div>
  </li>

  <li class="step-element">
    <div class="card">
      <img src="/assets/sopa-maravilla/images/step-2.svg" alt="" />
      <span> Echa en una cazuela <strong class="jei-no-break">333 ml</strong> de <strong class="jei-no-break">caldo de cocido</strong>. </span>
    </div>
  </li>

  <li class="step-element">
    <div class="card">
      <img src="/assets/sopa-maravilla/images/step-3.svg" alt="" />
      <span> Pon a <strong>cocer</strong> el caldo de cocido en la vitrocerámica al nivel <strong class="jei-no-break">boost</strong>. </span>
    </div>
  </li>

  <li class="step-element">
    <div class="card">
      <img src="/assets/sopa-maravilla/images/step-4.svg" alt="" />
      <span class="long-text--180">
        Cuando empieze a hervir, vertir el contenido del bol en la cazuela, bajar la temperatura al <strong class="jei-no-break">nivel 5</strong> y
        poner el <strong>temporizador <strong class="jei-no-break">12 min</strong> </strong>. Deja la cazuela tapada y vigila que no se salga.
      </span>
    </div>
  </li>

  <li class="step-element">
    <div class="card">
      <!-- TODO implement svg: plate with soup and spoon -->
      <img src="/assets/sopa-maravilla/images/step-5.svg" alt="" />
      <span> Cuando el temporizador termine, sírvelo en un plato y a comer! </span>
    </div>
  </li>
</ul>
