<h1>Sopa maravilla</h1>

<ul class="step-list">
  <li class="step-element">
    <div class="card">
      <img src="/assets/sopa-maravilla/images/step-1.svg" alt="" />
      <span>
        Agarra la báscula y un bol. Pesa <strong class="jei-no-break">35 g</strong> de <strong class="jei-no-break">sopa maravilla</strong>.
      </span>
    </div>
  </li>

  <li class="step-element">
    <div class="card">
      <img src="/assets/sopa-maravilla/images/step-2.svg" alt="" />
      <span> Echa en una cazuela <strong class="jei-no-break">333 ml</strong> de <strong class="jei-no-break">caldo de cocido</strong>. </span>
    </div>
  </li>

  <!-- TODO continue with next steps -->

  <li class="step-element">
    <div class="card">
      <!-- TODO review assets in angular.json -->
      <!-- <img src="/assets/sopa-maravilla/images/step-2.svg" alt="" />
      <span> Echa en una cazuela <strong class="jei-no-break">333 ml</strong> de <strong>caldo de cocido</strong>. </span> -->
    </div>
  </li>

  <li class="step-element">
    <div class="card">
      <!-- TODO review assets in angular.json -->
      <!-- <img src="/assets/sopa-maravilla/images/step-2.svg" alt="" />
      <span> Echa en una cazuela <strong class="jei-no-break">333 ml</strong> de <strong>caldo de cocido</strong>. </span> -->
    </div>
  </li>

  <li class="step-element">
    <div class="card">
      <!-- TODO review assets in angular.json -->
      <!-- <img src="/assets/sopa-maravilla/images/step-2.svg" alt="" />
      <span> Echa en una cazuela <strong class="jei-no-break">333 ml</strong> de <strong>caldo de cocido</strong>. </span> -->
    </div>
  </li>
</ul>
