<h1>Sopa maravilla</h1>

<ul>
  <li>
    <img src="/assets/sopa-maravilla/images/step-1.svg" alt="" />
    <span> Agarra la báscula y un bol. Pesa <strong>35 g</strong> de <strong>sopa maravilla</strong>. </span>
  </li>

  <li>
    <!-- TODO review assets in angular.json -->
    <img src="/assets/sopa-maravilla/images/step-2.svg" alt="" />
    <span> Echa en una cazuela <strong class="jei-no-break">333 ml</strong> de <strong>caldo de cocido</strong>. </span>
  </li>

  <!-- TODO continue with next steps -->

  <li>Coge una olla y ponle <strong>565 ml</strong> de agua (unos tres vasos).</li>

  <li>Pon el agua de la olla a <strong>cocer</strong> con el <strong>boost</strong>.</li>

  <li>Cuando el agua empieza a cocer, <strong>verter la pasta</strong> y poner la tapa.</li>

  <li>Baja la vitrocerámica al <strong>6</strong> y pon el temporizador <strong>12 minutos.</strong></li>

  <li>Cuando termina el tiempo de cocer, volcar la pasta en el <strong>escurridor</strong>.</li>

  <li>Echalo en el plato y añade atún y tomate frito.</li>
</ul>
